# Virtuoso files /data/db
/data/db/*
/data/elasticsearch
/data/lmb/
/config/search/update-handler.store
/config/lmb/acmidmlogin
/data/authorization
!/data/db/toLoad
!/data/db/toLoad/*
.DS_Store
*~
.log/
/config/migrations/local/*

docker-compose.override.yml
.env
/data/files/*
/exports/*
