version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  identifier:
    image: semtech/mu-identifier:1.10.1
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"},{"variables":[],"name":"harvesting-public"},{"variables":[],"name":"clean"}]'
      DEFAULT_ACCESS_CONTROL_ALLOW_ORIGIN_HEADER: "*"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: semtech/mu-login-service:3.0.0
    links:
      - database:database
    environment:
      USERS_GRAPH: "http://mu.semte.ch/graphs/users"
      SESSIONS_GRAPH: "http://mu.semte.ch/graphs/sessions"
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  frontend:
    image: lblod/frontend-harvesting-self-service:2.1.5
    volumes:
      - ./config/frontend:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    environment:
      EMBER_AUTHENTICATION_ENABLED: "true"
      EMBER_BESLUITEN_HARVESTING_ENABLED: "true"
      EMBER_WORSHIP_HARVESTING_ENABLED: "false"

  database:
    image: semtech/mu-authorization:0.6.0-beta.8
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  virtuoso:
    image: redpencil/virtuoso:1.0.0
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/public"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
      - ./config/virtuoso/:/opt/virtuoso-scripts
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  project-scripts:
    image: semtech/simple-script-store:1.0.0
    volumes:
      - ./scripts/:/app/scripts/
    restart: "no"
  migrations:
    image: semtech/mu-migrations-service:0.8.0
    links:
      - virtuoso:database
    volumes:
      - ./config/migrations:/data/migrations
    restart: always
    labels:
      - "logging=true"

  cache:
    image: semtech/mu-cache:2.0.2
    links:
      - resource:backend
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging

  resource:
    image: semtech/mu-cl-resources:1.22.2
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging

  deltanotifier:
    image: semtech/mu-delta-notifier:0.2.0
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.3.0
    environment:
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/harvesting"
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  harvest_singleton-job:
    image: lblod/harvesting-singleton-job-service:1.0.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  harvest_scraper:
    image: lblod/scraper:1.0.0
    volumes:
      - ./data/files:/share
    environment:
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/harvesting"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  harvest_compression:
    image: lblod/job-compression-service:0.1.11
    volumes:
      - ./data/files:/share
    environment:
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/harvesting"
      HIGH_LOAD_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  harvest_check-url:
    image: lblod/harvest-check-url-collection-service:1.3.1
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  harvest_import:
    image: lblod/harvesting-import-service:feature-split-file-rebased
    environment:
      VIRTUOSO_ENDPOINT: "http://virtuoso:8890/sparql"
      SUDO_QUERY_RETRY: "true"
      TARGET_GRAPH: "http://mu.semte.ch/graphs/harvesting"
      NODE_OPTIONS: "--max-old-space-size=4096" # needed with the new rdfa parser
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  harvest_validate:
    image: lblod/harvesting-validator:feature-split-files
    environment:
      TARGET_GRAPH: "http://mu.semte.ch/graphs/harvesting"
      STRICT_MODE_FILTERING: "false"
    volumes:
      - ./data/files:/share
      - ./config/shacl:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  harvest_diff:
    image: lblod/harvesting-diff-service:feature-split-files
    environment:
      TARGET_GRAPH: "http://mu.semte.ch/graphs/harvesting"
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  harvest_sameas:
    image: lblod/import-with-sameas-service:feature-split-file-rebased
    environment:
      RENAME_DOMAIN: "http://data.lblod.info/id/"
      TARGET_GRAPH: "http://mu.semte.ch/graphs/public"
      HIGH_LOAD_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
    volumes:
      - ./config/same-as-service:/config
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  harvest_gen_delta:
    image: lblod/harvesting-generation-delta-service:feature-split-files
    environment:
      TARGET_DIRECTORY_DELTA_PATH: "/share/deltas/besluiten"
      BUFFER_SIZE: "100"
      PUBLISHER_URI: "http://data.lblod.info/services/delta-production-json-diff-file-manager-besluiten"
      TARGET_PUBLISHER_GRAPH: "http://redpencil.data.gift/id/deltas/producer/lblod-harvester-besluiten-producer"
      HIGH_LOAD_DATABASE_ENDPOINT: "http://virtuoso:8890/sparql"
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  job-controller:
    image: lblod/job-controller-service:1.0.0
    volumes:
      - ./config/job-controller:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  scheduled-job-controller:
    image: lblod/scheduled-job-controller-service:1.0.2
    environment:
      # NOTE: if the delta-events prove to inaccurate,
      # you can go back to previous behavior by commenting out env.var. below
      # CRON_HEALING_JOB: "*/5 * * * *"
      # DISABLE_DELTA: "true"
      LOG_SPARQL_ALL: "false"
      DEBUG_AUTH_HEADERS: "false"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  deliver-email:
    image: redpencil/deliver-email-service:0.3.3
    environment:
      MAILBOX_URI: "http://data.lblod.info/id/mailboxes/1"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  error-alert:
    image: lblod/loket-error-alert-service:1.0.0
    volumes:
      - ./config/error-alert:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  #############################################################################
  # DELTA GENERAL
  #############################################################################

  delta-producer-report-generator:
    image: lblod/delta-producer-report-generator:0.4.0
    volumes:
      - ./config/delta-producer/report-generator:/config
    environment:
      OUTBOX: "http://data.lblod.info/id/mail-folders/2"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  delta-producer-dump-file-publisher:
    image: lblod/delta-producer-dump-file-publisher:0.10.2
    environment:
      FILES_GRAPH: "http://mu.semte.ch/graphs/harvesting"
      DCAT_DATASET_GRAPH: "http://mu.semte.ch/graphs/harvesting"
    volumes:
      - ./config/delta-producer/dump-file-publisher:/config
      - ./data/files:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging

  delta-producer-publication-graph-maintainer:
    image: lblod/delta-producer-publication-graph-maintainer:1.0.0
    environment:
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      MAX_BODY_SIZE: "50mb"
      PRETTY_PRINT_DIFF_JSON: "true"
      CONFIG_SERVICES_JSON_PATH: "/config/publication-graph-maintainer/config.json"
    volumes:
      - ./config/delta-producer:/config
      - ./data/files/:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging

  delta-producer-background-jobs-initiator:
    image: lblod/delta-producer-background-jobs-initiator:1.0.0
    volumes:
      - ./config/delta-producer/background-job-initiator/config.json:/config/config.json
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
