version: '3.7'

services:
  identifier:
    restart: "no"
    ports:
      - "80:80"
  dispatcher:
    restart: "no"
  frontend:
    restart: "no"
  migrations:
    restart: "no"
  virtuoso:
    restart: "no"
    ports:
      - "8890:8890"
  database:
    restart: "no"
  cache:
    restart: "no"
  resource:
    restart: "no"
  deltanotifier:
    restart: "no"
  file:
    restart: "no"
  login:
    restart: "no"
  harvesting-download-url:
    environment:
      CACHING_MAX_RETRIES: 5
    restart: "no"
  harvest-collector:
    restart: "no"
  harvesting-import:
    restart: "no"
  harvesting-sameas:
    restart: "no"
  job-controller-service:
    restart: "no"
  scheduled-job-controller-service:
    restart: "no"
  deliver-email-service:
    restart: "no"
  delta-producer-report-generator:
    restart: "no"
  delta-producer-background-jobs-initiator-besluiten:
    restart: "no"
  delta-producer-publication-graph-maintainer-besluiten:
    restart: "no"
  delta-producer-publication-graph-maintainer-worship:
    restart: "no"
  harvesting-validator:
    restart: "no"
  harvesting-diff:
    restart: "no"
  harvesting-execute-diff-deletes:
    restart: "no"
  error-alert:
    environment:
      EMAIL_FROM: "noreply@lblod.info"
      EMAIL_TO: "noreply@lblod.info"
    restart: "no"
